<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>false</withJansi>
    <encoder>
      <Pattern>%yellow(%d) %highlight(%-5level) %magenta([%thread]) %green(MDC=%X{requestId})  %cyan(%logger{90}) ---> %msg%n%throwable</Pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="console" />
  </root>

  <logger name="com.ibatis" level="TRACE" additivity="true" />
  <logger name="za.co" level="TRACE" additivity="true" />
  <logger name="org.mybatis" level="TRACE" additivity="true" />
  <logger name="org.flywaydb" level="INFO" additivity="true" />
  <logger name="ratpack" level="INFO" additivity="true" />
  <logger name="com.hazelcast" level="TRACE" additivity="true" />
</configuration>
